/* Set default font and background color */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  overflow-x: hidden;
  background-color: white;
}
label{
  font-size: larger;
  text-align: left;
}
  /* Center the content */
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Style the page title */
  h1 {
    color: #333;
    text-align: center;
    margin-top: 30px;
  }
  h2{
    text-align: center;
    /* border: 1px solid black; */
  }
  /* Style the input fields and button */
  input[type="text"],
  input[type="number"],
  button {
    display: flexbox;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  input[type="text"],
  input[type="number"] {
    width: 80%;
    max-width: 400px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 200px;
    /* border: 1px solid black; */
    width: auto;
  }  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  /* Style the output table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  } 
  /* td:last-child {
    font-weight: bold;
    color: #f00;
  }   */
#fault{
    font-weight: bold;
    color: #f00;
}
#hit{
    font-weight: bold;
    color: green;
}
#hbg{
  background-color: green;
}
#fbg{
  background-color: red;
}
.content {
  padding: 8vh 45px 0px 30px;
  width: 100%;
  font-family: "Chonburi", serif;
  display: flex;
  justify-content: center;
}

.content > .theory {
  background-color: white;
}

.content > .theory > .theory-heading {
  text-align: center;
  padding: 40px 0px;
  background-color: rgb(0, 184, 184);
  letter-spacing: 5px;
  border-radius: 5px;
}

.content > .theory > .theory-heading > div:first-child {
  font-size: 30px;
  font-weight: 600;
  padding: 30px 0px;
}

.content > .theory > .theory-heading > div:last-child {
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.content > .theory > .theory-text {
  margin: 20px 0px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 50px 100px;
}

.content > .theory > .theory-text > div:first-child {
  font-size: 25px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}
.content > .theory > .theory-text > div:nth-child(2) {
  height: 1.5px;
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.content > .theory > .theory-text > div:last-child {
  text-align: justify;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: rgb(61, 61, 61);
  padding-top: 20px;
}

.content > .theory > .theory-step {
  margin: 20px 0px;
  background-color: #252141;
  border-radius: 5px;
  padding: 20px 100px 40px 100px;
}

.content > .theory > .theory-step > ul {
  text-align: justify;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: rgb(221, 221, 221);
  padding: 20px 0px 0px 20px;
  list-style: none;
}

.content > .theory > .theory-step > ul > label {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #638891;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.content > .theory > .theory-step > ul > li {
  padding-bottom: 15px;
}